In [3]:
L=[0,1,2.3,'10',9.5]
print(L)

[0, 1, 2.3, '10', 9.5]

In [6]:
#its deafult functions
#append
L.append('letsupgrade')
print(L)

[0, 1, 2.3, '10', 9.5, 'letsupgrade', 'letsupgrade', 'letsupgrade']

In [7]:
#insert(i,x)
L.insert(0,-4.5)
print(L)

[-4.5, 0, 1, 2.3, '10', 9.5, 'letsupgrade', 'letsupgrade', 'letsupgrade']

In [9]:
#clear()
L.clear()
print(L)

[]

In [10]:
print(L.count("letsuprade"))

0

In [11]:
l=['india',1,4.5,'7.2']
print(len(l))

4

In [22]:
#dictonaries and its default functions
d1={0:4.5,1:8,2:'skillindia'}
print(d1)d1

{0: 4.5, 1: 8, 2: 'skillindia'}

In [23]:
d2={0:'bro',1:9,2:9.9}
print(d2)

{0: 'bro', 1: 9, 2: 9.9}

In [25]:
d1[2]='win'
print(d1)

{0: 4.5, 1: 8, 2: 'win'}

In [26]:
print(d2.popitem())

(2, 9.9)

In [27]:
for item in d1.items():
    print(item)

(0, 4.5)
(1, 8)
(2, 'win')

In [30]:
d1={x: x+x for x in range(6)}
print(d1)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [31]:
print(all(d1))

False

In [32]:
print(all(d2))

False

In [33]:
print(len(d1))

6

In [34]:
print(sorted(d1))

[0, 1, 2, 3, 4, 5]

In [35]:
print(any(d1))

True

In [ ]:
#Sets

In [42]:
s={1,2,3,9,'6',7.3,"pra"}
print(s)

{1, '6', 2, 3, 'pra', 7.3, 9}

In [39]:
print(type(s))

<class 'set'>

In [45]:
print(len(s))

7

In [46]:
s1={'bh',42,6.5}
print(s1)

{42, 'bh', 6.5}

In [49]:
print(s,s1.difference)

{1, '6', 2, 3, 'pra', 7.3, 9} <built-in method difference of set object at 0x0000001302A5A588>

In [50]:
print(s,s1.intersection)

{1, '6', 2, 3, 'pra', 7.3, 9} <built-in method intersection of set object at 0x0000001302A5A588>

In [53]:
print(s,s1.union)

{1, '6', 2, 3, 'pra', 7.3, 9} <built-in method union of set object at 0x0000001302A5A588>

In [61]:
s.update([4.3,6,"prajavani"])
print(s)

{1, '6', 2, 3, 4.3, 'pra', 7.3, 6, 9, 'prajavani'}

In [63]:
s2=s.union(s1)
print(s2)

{1, '6', 2, 3, 4.3, 'pra', 7.3, 6, 9, 'prajavani', 42, 'bh', 6.5}

In [ ]:
#tuples

In [64]:
t=[1,"tuple",2.8,7,'1.7']
print(t)

[1, 'tuple', 2.8, 7, '1.7']

In [65]:
t1=[4.3,9,"strange",]
print(t1)

[4.3, 9, 'strange']

In [68]:
a,b,c,d,e=t
print(a)
print(b)
print(c)
print(d)
print(e)

1
tuple
2.8
7
1.7

In [69]:
print(t[0:3])

[1, 'tuple', 2.8]

In [78]:
t2=[1,2,3,[4,"gara"],6,7,'8',0]
print(t2)

[1, 2, 3, [4, 'gara'], 6, 7, '8', 0]

In [71]:
print(t2[:-7])

[1, 2]

In [72]:
print(t2[7:])

['8', 0]

In [73]:
print(t2[:])

[1, 2, 3, 4, 'gara', 6, 7, '8', 0]

In [79]:
#tuples can be reassigned
t2[3][0]=9
print(t2)

[1, 2, 3, [9, 'gara'], 6, 7, '8', 0]

In [ ]:
#strings

In [86]:
string="letsupgrade is awesome"
print(string)

letsupgrade is awesome

In [90]:
print(string.upper())

LETSUPGRADE IS AWESOME

In [91]:
print(string.isnumeric())

False

In [92]:
print(string.isspace())

False

In [93]:
print(string.split())

['letsupgrade', 'is', 'awesome']

In [97]:
print("".join(string))

letsupgrade is awesome